{% extends "student/base.html" %}
{% load static %}
{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Môn {{mon_ht.ten}}  </h2>
                <button class="btn btn-primary" style="float:right;">Trình chiếu <i class="fa fa-video-camera"></i> </button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Trao đổi</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Nhóm</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-3 mail_list_column" style="overflow-y: scroll; height:600px;">
                          <a href="javascript:register_popup('{{user.username}}', '{{teacher_ht.myuser_id.fullname}}');">
                            <div class="mail_list">
                                <p hidden>{{user.username}}</p>
                                <div class="right">
                                  <h3>{{ teacher_ht.myuser_id.fullname }}</h3>
                                  <p><b>Email:</b> {{teacher_ht.myuser_id.email}}</p>
                                  <p hidden id="teacher_name">{{ teacher_ht.myuser_id.username }}</p>

                              </div>
                            </div>
                          </a>
                          
                        </div>
                        <div class="col-sm-9 mail_view">
                          <div class="inbox-body">
                            <div class="frame">
                              <ul>
                                
                              </ul>
                              <div>
                                <div class="msj-rta macro">
                                  <div class="text text-r" style="background:whitesmoke !important">
                                    <input id="chat-message-input41" class="mytext" placeholder="Type a message"></div>
                                </div>
                                <div style="padding:10px;">
                                  <span id="chat-message-submit41" class="glyphicon glyphicon-share-alt xxx"></span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    {% comment %} <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;
                      margin-top: 20px;">
                        <button type="button" class="btn btn-primary">Tạo nhóm theo thứ tự</button>
                        <button type="button" class="btn btn-primary" id="btn_random_group">Tạo nhóm Random</button>
                      </div> {% endcomment %}
                      <div class="x_content">
                          <div class="row">
                            <div class="col-sm-3 mail_list_column list_group_all" style="overflow-y: scroll; height:600px;">
                              
                            </div>
                            <div class="col-sm-9 mail_view">
                              <div class="inbox-body">
                                <div>
                                  <h4 id="title-chat"></h4>
                                </div>
                                <div class="frame2">
                                  <ul>
                                    
                                  </ul>
                                  <div>
                                    <div class="msj-rta macro">
                                      <div class="text text-r" style="background:whitesmoke !important; width: 95% !important;">
                                        <input disabled id="chat-group-text" class="mytext2" placeholder="Nhập tin nhắn"></div>
                                        <i class="fa fa-file" style="
                                              font-size: 26px;
                                              padding-top: 8px;
                                              padding-left: 77px;
                                              float: right;
                                          "></i>
                                    </div>
                                    <div style="padding:10px; margin-right: 24px;">
                                      <span id="chat-message-submit41" class="glyphicon glyphicon-share-alt zzz"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
    
                            </div>
    
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/teacher/peerjs/jquery.js' %}"></script>
  <script src="{% static 'js/teacher/peerjs/peer.js' %}"></script>
  <script src="{% static 'js/teacher/peerjs/main.js' %}"></script>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script>
    var lop = {{ lop }};
  </script>
  <script src="{% static 'js/student/subjects.js' %}"></script>
{% endblock javascripts %}
