{% extends "teacher/base.html" %}
{% load static %}
{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Lớp {{lop_ht}}  </h2>
                <button class="btn btn-primary" style="float:right;">Trình chiếu <i class="fa fa-video-camera"></i> </button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Trao đổi</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Nhóm</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-3 mail_list_column" style="overflow-y: scroll; height:600px;">
                          {% for student in ls_student %}
                          <a href="#">
                            <div class="mail_list">
                              <div class="left">
                                <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                              </div>
                              <div class="right">
                                <h3>{{ student.fullname }} <small>{{ student.last_login }}</small></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                            </div>
                          </a>
                          {% endfor %}

                        </div>
                        <div class="col-sm-9 mail_view">
                          <div class="inbox-body">
                            <div class="frame chat41">
                              <ul>
                                <li style="width:100%">
                                  <div class="msj macro">
                                    <div class="avatar">
                                      <img class="img-circle" style="width:100%;" src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/User_man_male_profile_account_person_people.png"></div>
                                    <div class="text text-l">
                                      <p>hi hi</p>
                                      <p><small>10:43 AM 24/8/2018</small></p>
                                    </div>
                                  </div>
                                </li>
                                <li style="width:100%;">
                                  <div class="msj-rta macro">
                                    <div class="text text-r">
                                      <p>a</p>
                                      <p><small>10:44 AM 24/8/2018</small></p>
                                    </div>
                                    <div class="avatar" style="padding:0px 0px 0px 10px !important">
                                      <img class="img-circle" style="width:100%;" src="https://cdn2.iconfinder.com/data/icons/rcons-users-color/32/support_man-512.png"></div></div></li>
                                <li style="width:100%;">
                                  <div class="msj-rta macro">
                                    <div class="text text-r"><p>hey</p>
                                      <p><small>1:42 PM 24/8/2018</small></p>
                                    </div>
                                    <div class="avatar" style="padding:0px 0px 0px 10px !important">
                                      <img class="img-circle" style="width:100%;" src="https://cdn2.iconfinder.com/data/icons/rcons-users-color/32/support_man-512.png">
                                    </div>
                                  </div>
                                </li>
                                <li style="width:100%">
                                  <div class="msj macro">
                                    <div class="avatar">
                                      <img class="img-circle" style="width:100%;" src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/User_man_male_profile_account_person_people.png">
                                    </div>
                                    <div class="text text-l">
                                      <p>rêr</p>
                                      <p><small>2:29 PM 24/8/2018</small></p>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                              <div>
                                <div class="msj-rta macro">
                                  <div class="text text-r" style="background:whitesmoke !important">
                                    <input id="chat-message-input41" class="mytext" placeholder="Type a message"></div>
                                </div>
                                <div style="padding:10px;">
                                  <span id="chat-message-submit41" class="glyphicon glyphicon-share-alt xxx"></span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/img.jpg" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/img.jpg" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Digital Strategist</i></h4>
                          <div class="left col-xs-7">
                            <h2>Nicole Pearson</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-building"></i> Address: </li>
                              <li><i class="fa fa-phone"></i> Phone #: </li>
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/user.png" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <p class="ratings">
                              <a>4.0</a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star"></span></a>
                              <a href="#"><span class="fa fa-star-o"></span></a>
                            </p>
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs">
                              <i class="fa fa-user"> </i> View Profile
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
