{% extends "teacher/base.html" %}
{% load static %}
{% block title %} Inbox {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Lớp {{lop_ht}}  </h2>
                <button class="btn btn-primary" style="float:right;">Trình chiếu <i class="fa fa-video-camera"></i> </button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Trao đổi</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Nhóm</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-3 mail_list_column" style="overflow-y: scroll; height:600px;">
                          {% for student in ls_student %}
                          <a href="#">
                            <div class="mail_list">
                              <div class="left">
                                <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                              </div>
                              <div class="right">
                                <h3>{{ student.fullname }} <small>{{ student.last_login }}</small></h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                              </div>
                            </div>
                          </a>
                          {% endfor %}

                        </div>
                        <div class="col-sm-9 mail_view">
                          <div class="inbox-body">
                            <div class="frame">
                              <ul>
                                
                              </ul>
                              <div>
                                <div class="msj-rta macro">
                                  <div class="text text-r" style="background:whitesmoke !important; width: 95% !important;">
                                    <input id="chat-message-input41" class="mytext" placeholder="Type a message"></div>
                                    <i class="fa fa-file" style="
                                          font-size: 26px;
                                          padding-top: 8px;
                                          padding-left: 77px;
                                          float: right;
                                      "></i>
                                </div>
                                <div style="padding:10px; margin-right: 24px;">
                                  <span id="chat-message-submit41" class="glyphicon glyphicon-share-alt xxx"></span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;
                     margin-top: 20px;">
                      <button type="button" class="btn btn-primary">Tạo nhóm theo thứ tự</button>
                      <button type="button" class="btn btn-primary">Tạo nhóm Random</button>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                      <div class="well profile_view">
                        <div class="col-sm-12">
                          <h4 class="brief"><i>Nhóm 1</i></h4>
                          <div class="left col-xs-7">
                            <h2>Thành viên</h2>
                            <ul class="list-unstyled">
                              <li><i class="fa fa-user"></i> Nguyễn Văn A </li>
                              <li><i class="fa fa-user"></i> Nguyễn Văn B </li>
                              <li><i class="fa fa-user"></i> Nguyễn Văn C </li>
                              <li><i class="fa fa-user"></i> Nguyễn Văn D </li>
                             
                            </ul>
                          </div>
                          <div class="right col-xs-5 text-center">
                            <img src="/static/images/img.jpg" alt="" class="img-circle img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-12 bottom text-center">
                          <div class="col-xs-12 col-sm-6 emphasis">
                          </div>
                          <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                              </i> <i class="fa fa-comments-o"></i> </button>
                            <button type="button" class="btn btn-primary btn-xs" id="btn_nhom">
                              <i class="fa fa-user"> </i> Chỉnh sửa
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="chinhsua" role="dialog">
      <div  class="modal-dialog">
          <form method="post">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="teacher_title">Thay đổi thông tin nhóm</h4>
            </div>
            <div class="modal-body form-horizontal form-label-left">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thành viên</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <input type="text" class="form-control" value="{{ user.fullname }}" name="fullname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thành viên</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <input type="text" class="form-control" value="{{ user.fullname }}" name="fullname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thành viên</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <input type="text" class="form-control" value="{{ user.fullname }}" name="fullname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Thành viên</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <input type="text" class="form-control" value="{{ user.fullname }}" name="fullname">
                    </div>
                  </div>
               
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary"  id="save_profile">Lưu</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
          </form>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'js/teacher/manage_class.js' %}"></script>
{% endblock javascripts %}
