{% extends "adminsc/base.html" %}
{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
          <div class="container-fluid">
            <button class="btn cur-p btn-primary" data-toggle="modal" data-target="#new_teacher" data-title="new">
                <i class="fas fa-user-plus"></i> Thêm giáo viên
            </button>
            <br>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                  <h4 class="c-grey-900 mB-20">Danh sách tất cả giáo viên</h4>
                  <table id="list_teacher" width="100%">
                    <thead>
                      <tr>
                        <th>Họ tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Giới tính</th>
                        <th>Lần đăng nhập cuối</th>
                        <th>Tùy chọn</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    <div class="modal" id="new_teacher" role="dialog">
      <div  class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="teacher_title">Thêm mới giáo viên</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
            <div class="modal-body form-group">
                {% csrf_token %}
                <input type="hidden" name="gvid">
                <input type="hidden" name="kieu">
               <label>Họ và tên</label>
               <input type="text" class="form-control" name="fullname" placeholder="nhập họ và tên" required>
               <br>
                <label>Bộ môn</label>
                <input class="form-control" type="text" id="search_mon" name="search" placeholder="Chọn môn">
                <div>
                    <ul id="list_mon">
                    </ul>
                </div>
                <br>
                <label>Giới tính</label>
                <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">
                    <input type="checkbox" id="nam" name="nam" class="peer gioi_tinh">
                    <label for="nam" class="peers peer-greed js-sb ai-c">
                        <span class="peer peer-greed">Nam</span>
                    </label>
                    <input type="checkbox" id="nu" name="nu" class="peer gioi_tinh">
                    <label for="nu" class="peers peer-greed js-sb ai-c">
                        <span class="peer peer-greed">Nữ</span>
                    </label>
                </div>
               <label name="username">Tên đăng nhập</label>
               <input type="text" class="form-control" name="username" placeholder="nhập tên đăng nhập" required>
               <br>
               <label>Email</label>
               <input type="email" class="form-control" name="email" placeholder="nhập email" required>
               <br>
               <label name="password">Mật khẩu</label>
               <input type="password" class="form-control" name="password" placeholder="nhập mật khẩu" required>
               <br>
               <label name="password2">Nhập lại mật khẩu</label>
               <input type="password" class="form-control" name="password2" placeholder="nhập lại mật khẩu" required>
               <br>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary"  id="create_new_teacher">Tạo mới</button>
               <button type="button" class="btn btn-default" data-dismiss="modal" id="close_new_teacher">Đóng</button>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock content %}

{% block js %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="{% static 'css/easy-autocomplete.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-autocomplete.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-autocomplete.themes.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-autocomplete.themes.min.css' %}" rel="stylesheet">
{% endblock %}
{% block endjs%}
    <script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>
    <script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/adminsc/manage_teacher.js' %}"></script>
{% endblock %}